<h2>Aspirations</h2>
<div class = "row">
  	<div id="inputDiv" class="col-lg-5 col-lg-offset-1">
		<p data-bind='text: message'></p>

		<p><input style="width: 200px; color:#333333" data-bind="value: aspiration, valueUpdate:'afterkeydown', enterkey: addAspiration, hasFocus: true"></input></p>

		<button id="add-aspiration" class="btn btn-skin" data-bind='click: addAspiration '>Add Aspiration</button>
	</div>

  	<div id="outputDiv" class="col-lg-5 col-lg-offset-0">
			<p style="padding: 3px">
				<strong data-bind="text: aspiration"></strong>
			</p>

		<div data-bind="foreach: aspirations">
			<p><strong data-bind="text: $data"></strong></p>
		</div>
	</div>	

 </div>

<script>
	$('div.section:empty').hide();
</script>