<h2>Aspirations</h2>
<div class = "row">

  	<div class="col-lg-5 col-lg-offset-1">
		<p data-bind='text: message'></p>

		<p><input style="width: 200px; color:#333333" data-bind="value: aspiration, valueUpdate:'afterkeydown'"></input></p>

		<button class="btn btn-skin" data-bind='click: addAspiration '>Add Aspiration</button>
	</div>

  	<div class="col-lg-5 col-lg-offset-0">
			<p>
				<strong data-bind="text: aspiration"></strong>
			<p>
			<p>
				<strong data-bind="text: aspirations()[0].content"></strong>
				
			<p>

		    <tbody data-bind="foreach: aspirations">
		                <tr>
            <td data-bind="text: content"></td>
       					 </tr>
		    </tbody>
	</div>	

 </div>